
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
   
</head>
<body>
    Welcome @Session["UserId"].<span id="pageSpan"></span>


    
</body>
</html>
