
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisableButton</title>
</head>
<body>
    <div>
        <form method="post">

            <input name="Submit1" type="submit" value="submit" @ViewBag.DisableText />

            <input name="Submit2" type="submit" value="do nothing!"/>



        </form>
    </div>
</body>
</html>
