
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
    </style>
</head>
<body>

    <h2>Animated Modal with Header and Footer</h2>

    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Open Modal</button>
    <br />
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Modal Header</h2>
            </div>
            <div class="modal-body">
                <p>Choose the food item from the below</p>
                <input type="radio" id="fooditem1" name="food" value="Indian" checked="checked" onchange="myFunction()"> Indian<br>
                <input type="radio" id="fooditem2" name="food" value="Chinise" onchange="myFunction()"> Chinise<br>
                <input type="radio" id="fooditem3" name="food" value="Continental" onchange="myFunction()"> Continental<br />
                <input type="button" id="btnClose" value="Close" />
            </div>
            <div class="modal-footer">
                <h3>Modal Footer</h3>
            </div>
        </div>

    </div>
    <span id="printSpan" ></span>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");//access the div

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var closeButtonSpan = document.getElementsByClassName("close")[0];
        //Close button in the body
        var closeButton = document.getElementById("btnClose");

        //Span
        var foods = document.getElementsByClassName('modal-body');
        var food_value = "";
        
        function myFunction() {
            if (document.getElementById('fooditem1').checked) {
                food_value = document.getElementById('fooditem1').value;
            }
            else if (document.getElementById('fooditem2').checked) {
                food_value = document.getElementById('fooditem2').value;
            }
            else if (document.getElementById('fooditem3').checked) {
                food_value = document.getElementById('fooditem3').value;

            }
            //alert(rate_value + " is selected");
        }

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";//make it visible
            document.getElementById('printSpan').innerHTML = "";
        }

        // When the user clicks on <span> (x), close the modal
        closeButtonSpan.onclick = function () {
            modal.style.display = "none";//make it invisible
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        closeButton.onclick = function () {
            alert(food_value);
            modal.style.display = "none";
            document.getElementById('printSpan').innerHTML =  food_value + " is selected."; 

        }
    </script>

</body>
</html>