
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Hello, <font color="red" size="10">Nazmul loves Aniya!</font>
        <br/>
        Welcome in!
    </div>
</body>
</html>
